---

---

<div
  class="border-t-2 mobile-only:border-t border-solid border-[#3756f2] select-none flex justify-between items-start"
>
  <div
    class="relative h-3 w-3 z-10 rounded-[1px]
    rotate-45 border border-[#3756f2] bg-white dark:bg-black
    translate-y-[-50%]"
  >
  </div>
  <div
    class="relative h-3 w-3 z-10 rounded-[1px]
    rotate-45 border border-[#3756f2] bg-white dark:bg-black
    translate-y-[-50%]"
  >
  </div>
</div>
