---
interface Props {
  localizedHeaderDescription: string | { __html: string };
}
const { localizedHeaderDescription } = Astro.props;
---

<style>
  h1 {
    font-size: clamp(1.8rem, 1vw + 0.5rem, 2.5rem);
  }
  p {
    font-size: clamp(1rem, 1vw + 0.5rem, 1.2rem);
    line-height: 2;
  }
</style>
<header class="mt-2 mb-[2%] bg-none">
  <div class="flex justify-center">
    <h1 class="bold not-mobile:hidden">Jorge Fernando Álava</h1>
  </div>
  <div class="flex justify-evenly items-center">
    <div class="grid grid-cols-1">
      <h1 class="bold mobile-only:hidden">Jorge Fernando Álava</h1>
      <div class="mobile-only:hidden ml-2">
        {
          typeof localizedHeaderDescription === "string" ? (
            <p>{localizedHeaderDescription}</p>
          ) : (
            <p set:html={localizedHeaderDescription.__html} />
          )
        }
      </div>
    </div>
    <div class="grid grid-cols-2 gap-x-5 justify-center items-center">
      <div class="not-mobile:hidden">
        {
          typeof localizedHeaderDescription === "string" ? (
            <p>{localizedHeaderDescription}</p>
          ) : (
            <p set:html={localizedHeaderDescription.__html} />
          )
        }
      </div>
      <div
        id="pfp-image-container"
        class="rounded-md glassbox p-2 flex flex-grow"
      >
        <img
          src="/images/seidor_pfp.avif"
          class="h-auto mobile-only:w-28 w-32 rounded flex-1"
        />
      </div>
    </div>
  </div>
</header>
