article h2,
h3 {
  font-weight: bold;
  font-family: "geist-variable";
}

p {
  font-family: "dm";
}

ul {
  /* list-style: url("/images/icons/ph--dot-outline-duotone.svg"); */
  list-style-type: disc;
  font-family: "dm";
  margin-left: 2rem;
  font-size: clamp(1rem, 1vw + 0.5rem, 1.2rem);
}

ol {
  list-style: decimal;
  font-family: "dm";
  margin-left: 2rem;
  font-size: clamp(1rem, 1vw + 0.5rem, 1.2rem);
}
