article h2,
h3 {
  font-weight: bold;
  font-family: "geist-variable";
}

p {
  font-family: "geist";
}

ul {
  /* list-style: url("/images/icons/ph--dot-outline-duotone.svg"); */
  list-style-type: disc;
  font-family: "geist";
  margin-left: 2rem;
}

ol {
  list-style: decimal;
  font-family: "geist";
  margin-left: 2rem;
}
