footer {
  background-image: url("/images/bg/white-noise.svg");
  background-size: auto;
  background-repeat: repeat;
}
@media (prefers-color-scheme: dark) {
  body {
    background-image: url("/images/bg/white-noise.svg");
    background-size: auto;
    background-repeat: repeat;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-image: url("/images/bg/white-noise.svg");
    background-size: auto;
    background-repeat: repeat;
  }
}
