/**/
/* Dank Mono*/
/**/
.dm-800-normal {
  font-family: "dm", monospace;
  font-weight: 900;
  font-style: normal;
}
.dm-800-italic {
  font-family: "dm", monospace;
  font-weight: 900;
  font-style: italic;
}
.dm-600-normal {
  font-family: "dm", monospace;
  font-weight: 600;
  font-style: normal;
}
.dm-600-italic {
  font-family: "dm", monospace;
  font-weight: 600;
  font-style: italic;
}
.dm-light-normal {
  font-family: "dm", monospace;
  font-weight: 300;
  font-style: normal;
}
.dm-light-italic {
  font-family: "dm", monospace;
  font-weight: 300;
  font-style: italic;
}
/**/
/* Geist Mono */
/**/
@font-face {
  font-family: "geist";
  src: url("/fonts/geist-mono.woff2") format("woff2");
  font-display: swap;
}
/**/
.geist-800-normal {
  font-family: "geist", monospace;
  font-weight: 900;
  font-style: normal;
}
.geist-800-italic {
  font-family: "geist", monospace;
  font-weight: 900;
  font-style: italic;
}
.geist-600-normal {
  font-family: "geist", monospace;
  font-weight: 600;
  font-style: normal;
}
.geist-600-italic {
  font-family: "geist", monospace;
  font-weight: 600;
  font-style: italic;
}
.geist-light-normal {
  font-family: "geist", monospace;
  font-weight: 300;
  font-style: normal;
}
.geist-light-italic {
  font-family: "geist", monospace;
  font-weight: 300;
  font-style: italic;
}
.geist-ultralight-normal {
  font-family: "geist", monospace;
  font-weight: lighter;
  font-style: normal;
}
.geist-ultralight-italic {
  font-family: "geist", monospace;
  font-weight: lighter;
  font-style: italic;
}
