code {
  font-family: "dm", monospace;
}
/**/
/* Dank Mono*/
/**/
.dm-regular {
  font-family: "dm", monospace;
  font-weight: normal;
  font-style: normal;
}
.italic {
  font-family: "dm", monospace;
  font-weight: normal;
  font-style: italic;
}
.bold-italic {
  font-family: "dm", monospace;
  font-weight: bold;
  font-style: italic;
}
/**/
/* Geist Mono */
/**/
@font-face {
  font-family: "geist";
  src: url("/fonts/geist-mono.woff2") format("woff2");
  font-display: swap;
}
/**/
.regular {
  font-family: "geist", monospace;
  font-weight: normal;
  font-style: normal;
}
.bold {
  font-family: "geist", monospace;
  font-weight: bold;
  font-style: normal;
}
.light {
  font-family: "geist", monospace;
  font-weight: 100;
  font-style: normal;
}
.light-italic {
  font-family: "geist", monospace;
  font-weight: 100;
  font-style: italic;
}
/**/
/* JetBrains Mono */
/**/
@font-face {
  font-family: "jetbrains";
  src: url("/fonts/jetbrains-mono.ttf") format("truetype");
  font-display: swap;
}
/**/
.jb-bold {
  font-family: "jetbrains", monospace;
  font-weight: bold;
  font-style: normal;
}
.jb-regular {
  font-family: "jetbrains", monospace;
  font-weight: normal;
  font-style: normal;
}
.jb-light {
  font-family: "jetbrains", monospace;
  font-weight: 100;
  font-style: normal;
}
.jb-italic-bold {
  font-family: "jetbrains", monospace;
  font-weight: bold;
  font-style: italic;
}
.jb-italic-regular {
  font-family: "jetbrains", monospace;
  font-weight: normal;
  font-style: italic;
}
.jb-italic-light {
  font-family: "jetbrains", monospace;
  font-weight: 100;
  font-style: italic;
}
