---
import "@/styles/globals.css";
import Main from "@/layouts/Main.astro";
---

<html class="text-black dark:text-white">
  <head>
    <meta name="generator" content={Astro.generator} />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <meta title="Jorge Fernando Ãlava" />
    <link rel="canonical" href={Astro.url.toString()} />
    <script is:inline>
      (function () {
        const storedTheme = localStorage.getItem("theme");
        if (
          storedTheme === "dark" ||
          (!storedTheme &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      })();
    </script>
  </head>
  <body class="bg-white dark:bg-black text-black dark:text-white">
    <Main><slot /></Main>
    <a href="https://github.com/jfalava" rel="me" class="sr-only"></a>
  </body>
</html>
