---
import IndexLayout from "@/layouts/Index.astro";
---

<IndexLayout
  locale="es"
  metaTitle="Jorge Fernando Álava"
  metaKeywords="jorge fernando álava, jorge fernando alava, jorge álava"
  metaDescription=""
  metaImageURL=""
  metaImageFormat=""
  metaImageWidth=""
  metaImageHeight=""
  metaImageAlt=""
>
  <div class="grid grid-cols-2 gap-3">
    <div id="dank-mono">
      <h2 class="text-2xl">Dank Mono</h2>
      <p class="dm-800-normal">
        EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
      <p class="dm-800-italic">
        EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
      <p class="dm-600-normal">
        EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
      <p class="dm-600-italic">
        EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
      <p class="dm-light-normal">
        EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
      <p class="dm-light-italic">
        EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
    </div>
    <div id="geist-mono">
      <h2 class="text-2xl">Geist Mono</h2>
      <p class="geist-800-normal">
        EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
      <p class="geist-800-italic">
        EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
      <p class="geist-600-normal">
        EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
      <p class="geist-600-italic">
        EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
      <p class="geist-light-normal">
        EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
      <p class="geist-light-italic">
        EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
      <p class="geist-ultralight-normal">
        EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
      <p class="geist-ultralight-italic">
        EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
    </div>
    <div id="jetbrains-mono">
      <h2 class="text-2xl">JetBrains Mono</h2>
      <p class="jetbrains-800-normal">
        EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
      <p class="jetbrains-800-italic">
        EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
      <p class="jetbrains-600-normal">
        EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
      <p class="jetbrains-600-italic">
        EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
      <p class="jetbrains-light-normal">
        EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
      <p class="jetbrains-light-italic">
        EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
      <p class="jetbrains-ultralight-normal">
        EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
      <p class="jetbrains-ultralight-italic">
        EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
    </div>
  </div>
</IndexLayout>
