---
import IndexLayout from "@/layouts/Index.astro";
---

<IndexLayout
  locale="es"
  metaTitle="Jorge Fernando Álava"
  metaKeywords="jorge fernando álava, jorge fernando alava, jorge álava"
  metaDescription=""
  metaImageURL=""
  metaImageFormat=""
  metaImageWidth=""
  metaImageHeight=""
  metaImageAlt=""
>
  <span>ES</span>
  <p class="dm-light-normal">
    EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba el
    saxofón detrás del palenque de paja. 1234567890
  </p>
  <p class="dm-medium-normal">
    EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba el
    saxofón detrás del palenque de paja. 1234567890
  </p>
  <p class="dm-black-normal">
    EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba el
    saxofón detrás del palenque de paja. 1234567890
  </p>
  <p class="dm-bold-normal">
    EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba el
    saxofón detrás del palenque de paja. 1234567890
  </p>
  <p class="dm-light-italic">
    EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba el
    saxofón detrás del palenque de paja. 1234567890
  </p>
  <p class="dm-medium-italic">
    EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba el
    saxofón detrás del palenque de paja. 1234567890
  </p>
  <p class="dm-bold-italic">
    EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba el
    saxofón detrás del palenque de paja. 1234567890
  </p>
  <p class="dm-black-italic">
    EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba el
    saxofón detrás del palenque de paja. 1234567890
  </p>
  <p class="dm-extra-bold-normal">
    EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba el
    saxofón detrás del palenque de paja. 1234567890
  </p>
  <p class="dm-extra-bold-italic">
    EI veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba el
    saxofón detrás del palenque de paja. 1234567890
  </p>
</IndexLayout>
