---
import IndexLayout from "@/layouts/Index.astro";
---

<IndexLayout
  locale="es"
  metaTitle="Tipografías"
  metaKeywords=""
  metaDescription=""
  metaImageURL=""
  metaImageFormat=""
  metaImageWidth=""
  metaImageHeight=""
  metaImageAlt=""
>
  <div class="grid grid-cols-1 gap-3">
    <div>
      <h2 class="text-xl">Gracias compañeros!</h2>
      <p class="light">
        El veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
      <p class="light-italic">
        El veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
      <p class="regular">
        El veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
      <p class="italic">
        El veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
      <p class="bold">
        El veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
      <p class="bold-italic">
        El veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña tocaba
        el saxofón detrás del palenque de paja. 1234567890
      </p>
    </div>
  </div>
</IndexLayout>
