---
import IndexLayout from "@/layouts/Index.astro";
---

<IndexLayout
  locale="es"
  metaTitle="Jorge Fernando Álava"
  metaKeywords="jorge fernando álava, jorge fernando alava, jorge álava"
  metaDescription=""
  metaImageURL=""
  metaImageFormat=""
  metaImageWidth=""
  metaImageHeight=""
  metaImageAlt=""
>
  <span>ES</span>
  <p class="dm-light-normal">This is light weight normal style.</p>
  <p class="dm-medium-normal">This is medium weight normal style.</p>
  <p class="dm-black-normal">This is black weight normal style.</p>
  <p class="dm-bold-normal">This is bold weight normal style.</p>
  <p class="dm-light-italic">This is light weight italic style.</p>
  <p class="dm-medium-italic">This is medium weight italic style.</p>
  <p class="dm-bold-italic">This is bold weight italic style.</p>
  <p class="dm-black-italic">This is black weight italic style.</p>
  <p class="dm-extra-bold-normal">This is extra-bold weight normal style.</p>
  <p class="dm-extra-bold-italic">This is extra-bold weight italic style.</p>
</IndexLayout>
