---
import A from "@/components/reusables/anchors/SimpleExternalAnchor";
interface Props {
  localizedEmail: string;
}

const { localizedEmail } = Astro.props as Props;
---

<style>
  h2 {
    font-family: "geist-variable";
  }
  code {
    font-size: clamp(1rem, 1vw + 0.5rem, 1.2rem);
    line-height: 2;
  }
</style>
<div class="grid grid-cols-1 gap-y-2">
  <h2>{localizedEmail}:</h2>
  <div class="flex">
    <a
      role="button"
      href="mailto:hello@jfa.dev"
      class="inline-block"
      title={localizedEmail}
    >
      <p id="email-fr-fr">hello@jfa.dev</p>
    </a>
    <div id="copy-email-button" class="inline-block ml-2 cursor-pointer">
      <div class="dark:invert">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-auto dark:invert"
          viewBox="0 0 256 256"
          ><path
            fill="currentColor"
            d="M216 28H88a12 12 0 0 0-12 12v36H40a12 12 0 0 0-12 12v128a12 12 0 0 0 12 12h128a12 12 0 0 0 12-12v-36h36a12 12 0 0 0 12-12V40a12 12 0 0 0-12-12m-60 176H52V100h104Zm48-48h-24V88a12 12 0 0 0-12-12h-68V52h104Z"
          ></path></svg
        >
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const copyButton = document.getElementById("copy-email-button");
    const emailCode = document.getElementById("email-fr-fr");

    if (!copyButton || !emailCode) return;

    const originalContent = copyButton.innerHTML;

    copyButton.addEventListener("click", async () => {
      try {
        const textToCopy = emailCode.textContent || "";
        await navigator.clipboard.writeText(textToCopy);

        copyButton.innerHTML =
          '<div class="text-[#5af542]"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-auto" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M21.546 5.111a1.5 1.5 0 0 1 0 2.121L10.303 18.475a1.6 1.6 0 0 1-2.263 0L2.454 12.89a1.5 1.5 0 1 1 2.121-2.121l4.596 4.596L19.424 5.111a1.5 1.5 0 0 1 2.122 0"/></g></svg></div>';

        setTimeout(() => {
          copyButton.innerHTML = originalContent;
        }, 3000);
      } catch (err) {
        console.error("Failed to copy text: ", err);
      }
    });
  });
</script>
