---
import AboutMe from "@/components/main-items/about-me/AboutMe.astro"
---
<main>
  <div id="about-wrapper"
    class="dark:text-white text-justify max-w-[50vw] mx-auto"
  >
  <AboutMe/>
  </div>
</main>
