---
import ButtonHref from "@/components/buttons/ButtonHref.astro"
import '@/styles/tailwindcss/base.css'
---

<main>
  <ButtonHref
    buttonIcon="/src/assets/branding/cloudflare.svg"
    buttonTitle="Cloudflare"
    buttonID="cloudflare-button"
  />
</main>