---
import AboutText from "@/components/main-items/about/AboutText.astro"
---
<main>
  <div id="about-wrapper"
    class="dark:text-white text-justify max-w-[50vw] mx-auto"
  >
    <AboutText/>
  </div>
</main>
