---
import Master from "@/layouts/Master.astro";
---

<Master>
  <div class="grid place-items-center place-content-center h-screen">
    <p class="font-mono text-md md:text-5xl font-semibold tracking-tight">
      Jorge Fernando
    </p>
    <p class="font-sans text-md md:text-5xl font-semibold">Ãlava</p>
  </div>
</Master>
