---
import A from "@/components/reusables/anchors/SimpleExternalAnchor";
interface Props {
  buttonText: string;
  buttonHref: string;
}

const { buttonText, buttonHref } = Astro.props as Props;
---

<A h={buttonHref} c="flex items-center justify-center rounded-lg p-2">
  <div
    class="flex items-center p-2 select-none border-b-2 border-transparent border-solid hover:border-[#ff781e] hover:text-[#ff781e]"
  >
    <div class="inline-block dark:invert">
      <slot />
    </div>
    <h3 class="inline-block geist-variable ml-2">
      {buttonText}
    </h3>
  </div>
</A>
