---
import A from "@/components/reusables/anchors/SimpleExternalAnchor";
interface Props {
  buttonText: string;
  buttonHref: string;
}

const { buttonText, buttonHref } = Astro.props as Props;
---

<A
  h={buttonHref}
  c="p-2 select-none border-b-2 border-transparent border-solid hover:border-[#1e7cff] hover:text-[#1e7cff] underline hover:decoration-transparent"
>
  <div class="flex items-center">
    <div class="inline-block dark:invert">
      <slot />
    </div>
    <h3 class="inline-block geist ml-2">
      {buttonText}
    </h3>
  </div>
</A>
