---
import HeaderIcon from "@/components/header-items/HeaderIcon.astro"
import HeaderTitle from "@/components/header-items/HeaderTitle.astro"
import HeaderSubTitle from "@/components/header-items/HeaderSubTitle.astro"
//
import ButtonHref from "@/components/buttons/ButtonHref.astro"
---
<header
  class="flex max-w-[50vw] mx-auto mt-[10vh]"
>
  <div id="header-titles"
    class="flex flex-col"
  >
    <div id="header-title"
      class="inline-block"
    >
      <HeaderTitle
        headerTitle="Jorge Fernando Álava"
      />
    </div>
    <div id="header-subtitle"
    >
      <HeaderSubTitle/>
    </div>
    <div id="header-buttons"
      class="mt-10 flex gap-3"
    >
      <ButtonHref
        buttonIcon="/src/assets/icons/branding/email.svg"
        buttonTitle=""
        buttonID="linkedin-button"
      />
      <ButtonHref
        buttonIcon="/src/assets/icons/branding/linkedin.svg"
        buttonTitle=""
        buttonID="linkedin-button"
      />
      <ButtonHref
        buttonIcon="/src/assets/icons/branding/github.svg"
        buttonTitle=""
        buttonID="linkedin-button"
      />
      <ButtonHref
        buttonIcon="/src/assets/icons/branding/apple_music.svg"
        buttonTitle=""
        buttonID="linkedin-button"
      />
      <ButtonHref
        buttonIcon="/src/assets/icons/branding/key-file.svg"
        buttonTitle=""
        buttonID="linkedin-button"
      />
    </div>
  </div>
  <div id="header-icon"
    class="inline-block"
  >
  <HeaderIcon
    headerIcon="/public/pfp_work.avif"
    headerIconAlt="PFP"
  />
</div>
</header>