---
import '@/styles/tailwindcss/base.css'
//
import Meta from "@/components/Meta.astro"
import Header from "@/layouts/header/Header.astro"
import Main from "@/layouts/main/Main.astro"
import Footer from "@/layouts/footer/Footer.astro"
//
import AboutES from "@/components/main-items/about-me/es/AboutES.mdx"
//
---
<Meta
  title="Jorge Fernando Álava"
  locale="en"
  meta_description="Jorge Fernando Álava"
  meta_url="https://jfa.dev"
>
  <Header/>
  <Main>
    <AboutES/>
  </Main>
  <Footer/>
</Meta>