---

---

<h2
  class="dark:text-white"
>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique voluptas vero consequatur iure, ullam quisquam dolores, earum, rem a voluptates quis sapiente reprehenderit accusantium hic porro iste numquam dignissimos molestias.
</h2>