---
interface Props {
  currentPage: string;
  localizedHeader: string;
}
const { currentPage, localizedHeader } = Astro.props as Props;
---

<style>
  h1 {
    font-size: clamp(1.8rem, 1vw + 0.5rem, 2.5rem);
  }
  p {
    font-size: clamp(1rem, 1vw + 0.5rem, 1.2rem);
    line-height: 2;
  }
</style>
{
  currentPage !== "index" && (
    <header class="flex justify-evenly items-center mt-2 mb-[2%]">
      <div class="flex justify-center items-center">
        <h1 class="bold">{localizedHeader} - Jorge Fernando Álava</h1>
      </div>
    </header>
  )
}
